<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    @Styles.Render("~/Content/Admin")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/iCheck/all.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/sb-admin-2.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">WhatsMedia</a>
            </div>
            <!-- /.navbar-header -->

            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_TopBar.cshtml"); }
            <!-- /.navbar-top-links -->

            @{ Html.RenderPartial("~/Areas/Admin/Views/Shared/_Sidebar.cshtml"); }
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">

            @RenderBody()

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Admin")

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/js/sb-admin-2.js")"></script>
    @*<script>
        $('.selectpicker').selectpicker();
    </script>*@

    @RenderSection("scripts", required: false)
    
    <script src="@Url.Content("~/js/custom-admin.js")"></script>

</body>

</html>
